@import './base/settings';
@import './base/base';
@import './components/auth';
@import './components/buttons';
@import './components/links';
@import './components/journal';
@import './components/nothing';
@import './components/notes';



body{
width: 100%;
overflow-x: hidden;
}
#root {
position: absolute;
left: 0;
right: 0;
height: 100%;
}

.hero-page{
    overflow-y: scroll;
    height: 100%;
}


.page {
position: absolute;
left: 0;
right: 0;
}

.page-enter {
opacity: 0;
transform: scale(1.1);
}

.page-enter-active {
opacity: 1;
transform: scale(1);
transition: opacity 1600ms, transform 1600ms;
}

.page-exit {
opacity: 1;
transform: scale(1);
}

.page-exit-active {
opacity: 0;
transform: scale(0.9);
transition: opacity 1600ms, transform 1600ms;
}



.remove-btn {
    margin-right: 0.5rem;
  }
  
  .item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }